@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

:root {
  /* #region  /**=========== Primary Color =========== */
  /* !STARTERCONF Customize these variable, copy and paste from /styles/colors.css for list of colors */
  --tw-color-bg: 243 244 246;
  --color-bg: rgb(var(--tw-color-primary-100)); /* #f3f4f6 */
  --green-800: #21371e;
  --green-700: #32502e;
  --green-600: #3a6434;
  --brown-300: #aa5656;
  --gray-400: #d9d9d9;
  --gray-600: #bfbfbf;
  --gray-800: #5d5d5d;
  /* #endregion  /**======== Primary Color =========== */
}

html,
body,
#__next {
  @apply bg-bg flex h-full flex-1;
}

@layer base {
  .cursor-newtab {
    cursor:
      url("/images/new-tab.png") 10 10,
      pointer;
  }

  /* #region  /**=========== Typography =========== */
  .h0 {
    @apply md:leading-14 font-sans text-3xl font-bold md:text-5xl;
  }

  h1,
  .h1 {
    @apply font-sans text-2xl font-bold md:text-4xl md:leading-[3rem];
  }

  h2,
  .h2 {
    @apply font-sans text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply font-sans text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply font-sans text-base font-bold md:text-lg;
  }

  body,
  .p {
    @apply font-sans text-sm md:text-base;
  }
  /* #endregion  /**======== Typography =========== */

  .layout {
    /* 1100px */
    max-width: 68.75rem;
    @apply mx-auto w-11/12;
  }

  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        var(--color-primary-400),
        var(--color-primary-500)
      );
    background-size:
      100% 2px,
      0 2px;
    background-position:
      100% 100%,
      0 100%;
    background-repeat: no-repeat;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size:
      0 2px,
      100% 2px;
  }
}
